<%= title("Chỉnh sửa Quy định Danh hiệu") %>

<header>
  <h2 class="mw100">Chỉnh sửa Quy định Danh hiệu</h2>
</header>

<div class="listing-index icon-only">
  <%= simple_form_for :update_ability,
  url: update_ability_admin_rules_path, method: :post do |f|%>
    <table>
      <thead>
        <tr>
          <th>Danh hiệu</th>
          <th>Học lực <span class="tiny">(Trở lên)</span></th>
          <th>Hạnh kiểm <span class="tiny">(Trở lên)</span></th>
        </tr>
      </thead>
      <tbody>
        <% @marks.each do |mark| %>
          <tr>
            <%= f.simple_fields_for "marks[]", mark do |m| %>
              <td><%= mark.name %></td>
              <td class="input-score"><%= m.input :point, label: false %></td>
              <td class="mb0"><%= m.input :conduct, label: false, collection: Conduct.all,
                include_blank:false, selected: mark.conducts.first.id %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= f.button :submit, value: "Cập nhật", class: "btn-success" %>
  <% end %>
</div>


<%= link_to "Trở về", admin_rules_path, class: "back" %>