<%= title("Chỉnh sửa Quy định Danh hiệu") %>

<header>
  <h2 class="maw100">Chỉnh sửa Quy định Danh hiệu</h2>
</header>

<div class="listing-index">
  <%= simple_form_for :update_ability,
  url: update_ability_admin_rules_path, method: :post,
  html: { class: "center full_width" } do |f|%>
  <table>
    <thead>
      <tr>
        <th>Danh hiệu</th>
        <% @marks.each do |mark| %>
          <td><%= mark.name %></td>
        <% end %>
      </tr>
    </thead>
      <tbody>
        <tr>
          <th class="center">Học lực <span class="tiny">(Trở lên)</span></th>
          <% @marks.each do |mark| %>
            <%= f.simple_fields_for "marks[]", mark do |m| %>
              <td class="input-score"><%= m.input :point, label: false %></td>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <th class="center">Hạnh kiểm <span class="tiny">(Trở lên)</span></th>
          <% @conducts.each do |conduct| %>
            <td><%= conduct.name %></td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <%= f.button :submit, value: "Cập nhật", class: "btn-success" %>
  <% end %>
</div>


<%= link_to "Trở về", admin_rules_path, class: "back" %>