<%= title("Quy định") %>

<header>
  <h2>Quy định</h2>
</header>

<div class="row">
  <div class="col-md-6">
    <header>
      <h4>Quy định chung</h4>
      <ul class="actions">
        <li>
          <%= link_to "Sửa tất cả", [:edit, :admin, @rule], class: "edit" %>
        </li>
      </ul>
    </header>

    <table class="bdbtable maw100">
      <tbody>
        <tr>
          <td><strong>Số lượng học sinh tối đa mỗi lớp</strong>: 
            <b><%= @rule.max_quantity %></b>
          </td>
          <td>
            <%= link_to 'Sửa', { "controller"=>"admin/rules", "action"=>"edit", "id"=>"1", "attr": "max_quantity" }, class: "edit" %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Số tuổi được phép</strong>: <br/>
            <ul>
              <li>Tuổi tối thiểu: <b><%= @rule.min_age %></b></li>
              <li>Tuổi tối đa: <b><%= @rule.max_age %></b></li>
            </ul>
          </td>
          <td>
            <%= link_to 'Sửa', { "controller"=>"admin/rules", "action"=>"edit", "id"=>"1", "attr": "min_age" }, class: "edit" %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Điểm số được phép</strong>: <br/>

            <ul>
              <li>Điểm tối thiểu: <b><%= @rule.min_point %></b></li>
              <li>Điểm tối đa: <b><%= @rule.max_point %></b></li>
            </ul>
          </td>
          <td>
            <%= link_to 'Sửa', { "controller"=>"admin/rules", "action"=>"edit", "id"=>"1", "attr": "min_point" }, class: "edit" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <header>
      <h4>Quy định Danh hiệu</h4>

      <ul class="actions">
        <li>
          <%= link_to "Sửa", edit_ability_admin_rules_path, class: "edit" %>
        </li>
      </ul>
    </header>

    <div class="listing-index">
      <table>
        <thead>
          <tr>
            <th>Học lực</th>
            <th>Hạnh kiểm</th>
            <th>Danh hiệu</th>
          </tr>
        </thead>
        <tbody>
          <% Mark.all.each_with_index do |mark, index| %>
            <tr>
              <td><%= mark.name %><br/><span class="tiny">(<%= mark.point %> Trở lên)</span></td>
              <td><%= Conduct.find(index + 1).name %>
              <br/><span class="tiny">(Trở lên)</span></td>
              <td><%= mark.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<header></header>
<%= link_to "Trở về", admin_root_path, class: "back" %>