<%= simple_form_for [klass, student] do |f| %>
	<%= f.input :last_name, label: "Họ và Tên lót" %>
	<%= f.input :first_name, label: "Tên" %>
	<%= f.input :date_of_birth, label: "Ngày sinh", order: [:day, :month, :year],
		start_year: Date.today.year - student.get_max_age,
		end_year: Date.today.year - student.get_min_age %>
	<span class="gender" data-id="<%= student.gender %>">
	<%= f.input :gender, label: "Giới tính", as: :radio_buttons,
		collection: [['Nam', true] ,['Nữ', false]] %>
	</span>
	<%= f.input :address, label: "Địa chỉ" %>
	<%= f.input :email, label: "Địa chỉ e-mail" %>

	<%= f.association :klass, include_blank: false unless student.new_record? %><br/>

	<%= f.button :submit, value: student.new_record? ? "Tạo" : "Cập nhật",
		class: "btn-success" %>
<% end %>
