<%= title("Thông báo") %>

<header class="search-in-list">
  <h2>Thông báo</h2>
  
  <ul class="actions">
    <li><div class="search-div">
    <%= search_form_for @q, url: root_path,
      html: { class: "form-inline" } do |f| %>
    <%= f.search_field :title_or_description_cont,
      class: "form-control", placeholder: "Nhập Tiêu đề, Nội dung" %>
    
    <button class='btn btn-search'>
      Tìm kiếm
    </button>
  <% end %>
  </div>
    </li>
  </ul>
  
</header>

<% @notifications.each do |notification| %>
  <div class="well" style="position: relative">
    <h4><%= notification.title %></h4>
    <small><i>
      Đăng lúc: <%= format_date(notification.created_at) %> | 
      Cập nhật lần cuối: <%= format_date(notification.updated_at) %>
    </i></small>
    <p class="mt20">
      <%= truncate(notification.description, length: 200) %>
      <%= link_to "Xem thêm", notification %>
    </p>
    <% admins_only do %>
    <%= link_to "Sửa", [:edit, :admin, notification],
      class: "edit"  %>
    <%= link_to "Xóa", [:admin, notification],
      method: :delete, class: "delete",
      data: { confirm: "Bạn đã chắc chưa" } %>
    <% end %>
  </div>
<% end %>

<div class="will_page">
  <div class="center">
    <div class="row">
      <div class="col-md-12">
        <%= will_paginate @notifications %>
      </div>
    </div>
  </div>
</div>
