<header>
	<h2>Bảng điều khiển</h2>
</header>

<ul class="list-unstyled">	
	<li><%= link_to "Quản lý Học sinh", admin_students_path %></li>
	<li><%= link_to "Quản lý Lớp", admin_klasses_path %></li>
	<li><%= link_to "Quản lý Giáo viên", admin_teachers_path %></li>
	<li><%= link_to "Thống kê", admin_statistics_path %></li>
	<li><%= link_to "Thay đổi quy định", admin_rules_path %></li>
</ul>
