<%= render "header" %>

<% if @details.present? %>
  <h5 class="center">Bảng điểm</h5>
  <div class="listing-index icon-only">
    <table>
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ và tên</th>
          <th>Điểm 15'</th>
          <th>Điểm 45'</th>
          <th>Điểm Cuối kỳ</th>
          <th>Điểm TB</th>
          <th><%= link_to '', edit_all_klass_semester_course_details_path(
            @klass, @semester, @course), class: "edit" %></th>
        </tr>
      </thead>
      <tbody>
        <% @details.each_with_index do |detail, index| %>
          <% if @detail == detail %>
            <%= simple_form_for @detail,
              url: klass_semester_course_detail_path(@klass, @semester,@course,
                @detail) do |f| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= detail.score.student.name %></td>
                <td class="input-score">
                  <%= f.input :audition, label: false, autofocus: true %>
                </td>
                <td class="input-score">
                  <%= f.input :semi_final, label: false %>
                </td>
                <td class="input-score">
                  <%= f.input :final, label: false %>
                </td>
                <td class="input-score"><%= detail.gpa %></td>
                <td>
                  <%= f.button :submit, value: "Cập nhật",
                    class: "btn-success" %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td><%= link_to index + 1 %></td>
              <td><%= detail.score.student.name %></td>
              <td><%= detail.audition %></td>
              <td><%= detail.semi_final %></td>
              <td><%= detail.final %></td>
              <td><%= detail.gpa %></td>
              <td>
                <%= link_to '', [:edit, @klass, @semester, @course, detail],
                  class: "edit" %>
                <%= link_to '', "#", method: :delete,
                  data: { confirm: 'Bạn đã chắc chưa?' }, class: "reset" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>Hiện tại chưa có dữ liệu.</p>
<% end %>

<%= link_to "Trở về", klass_semester_course_details_path(@klass, @semester,
  @course), class: "back" %>