<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title><%= content_for?(:title) ? yield(:title) :
  	"UIT - Student Manament System" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style>
    <% Course.all.each do |course| %>
      .course-<%= course.name.parameterize %> {
        background-color: <%= course.color %>;
      }
    <% end %>
  </style>
</head>
<body>
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("logo.png"), root_path %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=<%= "active" if current_page?("/") %>>
            <%= link_to "Trang chủ", root_path %>
          </li>
          <li class=<%= "active" if current_page?("/rule") %>>
            <%= link_to "Quy định", rule_path %>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% if current_user.try(:admin?) %>
              <li class=<%= "active" if current_page?("/admin") || current_page?("/admin/notifications/new") %>>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Ban Giám Hiệu<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Bảng điều khiển", admin_root_path %></li>
                  <li><%= link_to "Đăng Thông báo",
                    new_admin_notification_path %></li>
                </ul>
              </li>
            <% elsif current_user.try(:teacher_id) %>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Giáo viên<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Hồ sơ", current_user.teacher %></li>

                  <% unless current_user.teacher.klass.nil? %>
                    <li>
                      <%= link_to "Lớp của tôi", current_user.teacher.klass %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% else %>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Sinh viên<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Hồ sơ",
                    [current_user.student.klass, current_user.student] %></li>
                  <li><%= link_to "Lớp của tôi", current_user.student.klass %></li>
                </ul>
              </li>
            <% end %>

            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Tài khoản<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="navbar-text page-header">
                  Đang đăng nhập với <%= current_user.email %>
                </li>
                <li>
                  <%= link_to "Đổi mật khẩu", edit_user_registration_path %>
                </li>
                <li>
                    <%= link_to "Đăng xuất", destroy_user_session_path,
                      method: :delete %>
                </li>
              </ul>
            </li>
          
          <% else %>
            <li><%= link_to "Đăng nhập", new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

	<div class="container">
		<% flash.each do |key, message| %>
   		<div class="alert alert-<%= key %> fade in">
	      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
	      <%= message %>
      </div>
    <% end %>

		<%= yield %>
	</div>

  <header class="center">
    <hr>
    <h6 class="maw100">PHÒNG ĐÀO TẠO</h6>
    <small>Phòng A120, Trường Đại học Công nghệ Thông tin.</small><br/>
    <small>Khu phố 6, P.Linh Trung, Q.Thủ Đức, TP.Hồ Chí Minh.</small><br/>
    <small>Điện thoại: (08) 372 51993, Ext: 113(Hệ từ xa qua mạng), 112(Hệ chính quy).</small><br/>
    <small>Email: phongdaotaodh@uit.edu.vn</small>
  </header>
</body>
</html>
