<% title("Lớp #{@klass.name}") %>

<header>
	<h2>Lớp <%= @klass.name %></h2>
  <% admins_only do %>
	<ul class="actions">
		<li><%= link_to 'Sửa Lớp', edit_admin_klass_path(@klass), class: "edit" %></li>
		<li><%= link_to "Xóa Lớp", admin_klass_path(@klass),
			class: "delete", method: :delete,
			data: { confirm: "Are you sure to delete this student?" } %></li>
	</ul>
  <% end %>
</header>

<table class="info">
	<tr>
		<th>Tên lớp</th>
		<td><%= @klass.name.upcase %></td>
	</tr>
	<tr>
		<th>Tên khối</th>
		<td><%= @klass.grade.name %></td>
	</tr>
	<tr>
		<th>Tổng số học sinh</th>
		<td><%= @klass.students_count %></td>
	</tr>
	<tr>
		<th>Giáo viên chủ nhiệm</th>
		<td><%= link_to @klass.teacher_name, @klass.teacher %></td>
	</tr>
	<tr>
		<th>Ngày tạo</th>
		<td><%= format_date(@klass.created_at) %></td>
	</tr>
	<tr>
		<th>Cập nhật lần cuối</th>
		<td><%= format_date(@klass.updated_at) %></td>
	</tr>
</table>

<header>
	<h3>Danh sách học sinh</h3>
  <div class="search-div">
    <%= search_form_for @q, url: @klass,
      html: { class: "form-inline" } do |f| %>
    <%= f.search_field :student_code_or_first_name_or_last_name_cont,
      class: "form-control", placeholder: "Nhập Tên, MSSV, ..." %>
    
    <button class='btn btn-search'>
      Tìm kiếm
    </button>
  <% end %>
  </div>
  
  <% if is_admin || is_teacher %>
  	<ul class="actions">
      <li><%= link_to "Bảng điểm",
      	klass_semester_course_details_path(@klass, Semester.first, Course.first),
      	class: "scoreboard" %></li>

      <% unless max_students?(@klass) %>
  		  <li><%= link_to "Thêm mới", new_klass_student_path(@klass),
          class: "new" %></li>
      <% end %>
  	</ul>
  <% end %>
</header>

<% if @students.present? %>
  <div class="listing-index icon-only">
    <table>
      <thead>
        <tr>
        	<th>STT</th>
		      <th><%= sort_link(@q, :first_name, "Họ và tên") %></th>
		      <th><%= sort_link(@q, :student_code, "Mã số học sinh") %></th>
          <% admins_only do %> #teachers_only
  		      <th>ĐTB HK1</th>
  		      <th>ĐTB HK2</th>
            <th><%= sort_link(@q, :student_code, "ĐTB Cả năm") %></th>
  		      <th></th>
          <% end %>
		    </tr>
      </thead>
      <tbody>
        <% @students.each_with_index do |student, index| %>
        <tr>
          <% if current_user.try(:admin?) %> #teachers_only
            <td><%= link_to index + 1, [@klass, student] %></td>
          <% else %>
        	 <td><%= index + 1 %></td>
          <% end %>
	        <td><%= student.name %></td>
	        <td><%= student.student_code %></td>
          <% admins_only do %> #teacher_only
  	        <td><%= student.semester_gpa(Semester.find(1)) %></td>
  	        <td><%= student.semester_gpa(Semester.find(2)) %></td>
            <td><%= student.to_ability %></td>
  	        <td>
  	        	<%= link_to '', [:edit, @klass, student], class: "edit" %>
  	        	<%= link_to '', [:admin, student], method: :delete,
  	        	data: { confirm: 'Bạn đã chắc chưa?' }, class: "delete" %></td>
          <% end %>
	      </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>Hiện tại chưa có dữ liệu.</p>
<% end %>
	
<%= link_to "Trở về", admin_klasses_path, class: "back" %>